.l_header{
    background-color: #6B8EEC;
    height:60px;
}
.l_header_inner{
    width:100%;
    height:100%;
    display:flex;
    justify-content: right;
    align-items: center;
}
.l_header_setmonitor{
    width:10%;
    height:100%;
    background-color:#ECC96B;
    position:relative;
}
.l_sidebar{
    width:30%;
    height:calc(100vh - 60px);
    max-width:270px;
    background-color: #6B8EEC;
}
.l_sidebar_item:hover{
    background-color: #ECC96B!important;
}
.m_btn_monitor{
    width:100%;
    height:100%;
    transform:translate(-50%,-50%);
    position:absolute!important;
    top:50%;
    left:50%;
    /* color:white!important; */
}
.main_content{
    display: flex;
}
