@charset "UTF-8";
//フォント関係の設定
$font-base:'Noto Sans JP', sans-serif;
//色関係の設定
//サイトカラー
$color-main:#243F86;
$color-sub:#B4BFDB;
//フォントカラー
$color-font:#333;
//ブレイクポイント
$breakpoints: (
	'sm': 'screen and (max-width: 500px)',
	'md': 'screen and (max-width: 768px)',
	'lg': 'screen and (max-width: 1080px)',
	'xl': 'screen and (max-width: 1200px)',
	'xxl':'screen and (max-width: 1500px)',
);
